# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv

.csv

scratch*

/pick_audit*
/patterns.py

/keys.txt

.env

/notes.txt
/game_model.json
/espn_nfl_team_ids.rtf
/picks.json
/users.json
