asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2025.6
cryptography==45.0.6
defusedxml==0.7.1
dj-database-url==3.0.1
dj-email-url==1.0.6
django==5.2.5
django-allauth==65.10.0
django-anymail==13.0.1
django-cache-url==3.4.5
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
environs==14.3.0
gunicorn==23.0.0
idna==3.10
marshmallow==4.0.0
oauthlib==3.3.1
packaging==25.0
psycopg==3.2.9
psycopg-binary==3.2.9
pycparser==2.22
pyjwt==2.10.1
python-dotenv==1.1.1
python3-openid==3.2.0
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
sqlparse==0.5.3
typing-extensions==4.14.1
urllib3==2.5.0
whitenoise==6.9.0
