{% extends '_base.html' %}

{% block title %}404 Page not found{% endblock %}

{% block content %}
    <h1 class="display-6">Flag on the play! Page not found.</h1>
    <div class="tenor-gif-embed" data-postid="10573657069606376083" data-share-method="host"
         data-aspect-ratio="0.952381" data-width="50%"><a
            href="https://tenor.com/view/flag-ref-football-penalty-holding-gif-10573657069606376083">Flag Ref GIF</a>from
        <a href="https://tenor.com/search/flag-gifs">Flag GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <
{% endblock content %}